#domain1{margin-left:auto;margin-right:auto;margin-top:26px;width:960px;height:90px;
border-left:1px solid #dedada;border-right:1px solid #dedada;border-top:1px solid #dedada;
clear: both;}
#domain1-left{width:612px;height:90px;text-align:center;float: left;border-right:1px solid #dedada;}
#domain1-text1{font-size:28px;margin-top:12px;}
#domain1-text2{font-size:18px;}

#domain1-right{width:347px;height:90px;text-align:center;float: left;}
#domain1-text3{font-size:20px;margin-top:20px;}
#domain1-text4{font-size:16px;}

#domain2{
margin-left:auto;
margin-right:auto;
margin-bottom:20px;
width:960px;
border:1px solid #dedada;
clear: both;}